body {
  background: #01020a;
  color: #b4b399;
  font-family: "Space Mono", monospace;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 5rem;
}
.box-1 {
  margin-top: 6rem;
  width: 50vw;
  min-width: 20vw;
  display: flex;
  justify-content: space-between;
}
img {
  height: 12rem;
}
.menu {
  margin-top: 1.9rem;
  padding: 0.8rem;
  font-size: 1.2rem;
}
ul {
  list-style: none;
}

.box-2 {
  width: 50vw;
  font-size: 1.2rem;
}
a {
  color: #b4b399;
  text-decoration: none;
  transition: color 1s ease;
}
.name {
  font-size: 1.8rem;
  font-style: italic;
}

.links {
  width: 50vw;
  display: flex;
  justify-content: flex-start;
  column-gap: 1.5rem;
}
a:hover {
  color: #bae8e8;
}
